.chat_main {
    display: flex;
}

.chat_content {
    width: 500px;
    height: 90vh;
    margin: 10px;
    background-color: tomato;
}

.chat_list_logo_group {
    display: flex;
}

.chat_list_search_group {
    display: flex;
}

.chat_room_item {
    display: flex;
    justify-content: space-between;

    background-color: thistle;
}

/* 채팅방룸 */
.modal {
    width: 100%;
    height: 100%;
    background-color: mediumseagreen;
}

.modal_wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    padding: 14px;
    border-radius: 8px;
}

.modal_header_group {
    display: flex;
}

/*메신저 내용*/
.chatUI {
    margin: 20px;
}

.chatroom {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.message {
    padding: 10px 0;
}

.message:last-child {
    border-bottom: none;
}

.message h5 {
    margin: 0;
    font-size: 0.9em;
    color: #888;
}

.message p {
    margin: 5px 0 0;
    font-size: 1.1em;
}

.message-own {
    text-align: right;
}

.message-own h5 {
    color: #4a4;
}
